ul {
       
       text-decoration: none;
       margin: 20px 0px;
       padding: 0px;
       list-style-type: none;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
}

a {
       text-decoration: none;
       color: darkcyan;
}

